@font-face {
	font-family: "GoogleSans";
	src: url("./font/GoogleSans-Medium.ttf");
}

body {
	font-family: "GoogleSans";
}

p {
	margin-top: -15px;
}

h1 {
	margin-top: -9px;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.color-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#tags {
	margin: 10px;
}

.container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	min-width: 700px;
	max-width: 700px;
}

.dark-theme {
	background-color: #212121;
	color: #fff;
}

#box1 {
	width: 100%;
	height: 130px;
	background-color: var(--md-sys-color-primary);
	color: var(--md-sys-color-on-primary);
	border-top-left-radius: 20px;
}

#box2 {
	width: 100%;
	height: 130px;
	background-color: var(--md-sys-color-on-primary);
	color: var(--md-sys-color-primary);
}

#box3 {
	width: 100%;
	height: 130px;
	background-color: var(--md-sys-color-primary-container);
	color: var(--md-sys-color-on-primary-container);
}

#box4 {
	width: 100%;
	height: 130px;
	background-color: var(--md-sys-color-on-primary-container);
	border-top-right-radius: 20px;
	color: var(--md-sys-color-primary-container);
}

#box5 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-secondary);
	color: var(--md-sys-color-on-secondary);
}

#box6 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-on-secondary);
	color: var(--md-sys-color-secondary);
}

#box7 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-secondary-container);
	color: var(--md-sys-color-on-secondary-container);
}

#box8 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-on-secondary-container);
	color: var(--md-sys-color-secondary-container);
}

#box9 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-tertiary);
	color: var(--md-sys-color-on-tertiary);
}

#box10 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-on-tertiary);
	color: var(--md-sys-color-tertiary);
}

#box11 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-tertiary-container);
	color: var(--md-sys-color-on-tertiary-container);
}

#box12 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-on-tertiary-container);
	color: var(--md-sys-color-tertiary-container);
}

#box13 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-error);
	color: var(--md-sys-color-on-error);
	border-bottom-left-radius: 20px;
}

#box14 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-on-error);
	color: var(--md-sys-color-error);
}

#box15 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-error-container);
	color: var(--md-sys-color-on-error-container);
}

#box16 {
	width: 100%;
	height: 80px;
	background-color: var(--md-sys-color-on-error-container);
	color: var(--md-sys-color-error-container);
	border-bottom-right-radius: 20px;
}

#box17 {
	width: 100%;
	height: 100px;
	background-color: var(--md-sys-color-background);
	color: var(--md-sys-color-on-background);
	border-top-left-radius: 20px;
}

#box18 {
	width: 100%;
	height: 100px;
	background-color: var(--md-sys-color-on-background);
	color: var(--md-sys-color-background);
}

#box19 {
	width: 100%;
	height: 100px;
	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);
}

#box20 {
	width: 100%;
	height: 100px;
	background-color: var(--md-sys-color-on-surface);
	color: var(--md-sys-color-surface);
}

#box21 {
	width: 100%;
	height: 100px;
	background-color: var(--md-sys-color-surface-variant);
	color: var(--md-sys-color-on-surface-variant);
}

#box22 {
	width: 100%;
	height: 100px;
	background-color: var(--md-sys-color-on-surface-variant);
	color: var(--md-sys-color-surface-variant);
	border-top-right-radius: 20px;
}

#box23 {
	width: 100%;
	height: 100px;
	background-color: var(--md-sys-color-outline);
	color: var(--md-sys-color-shadow);
	border-bottom-left-radius: 20px;
}

#box24 {
	width: 100%;
	height: 100px;
	background-color: var(--md-sys-color-shadow);
	color: var(--md-sys-color-outline);
}

#box25 {
	width: 100%;
	height: 100px;
	background-color: var(--md-sys-color-inverse-surface);
	color: var(--md-sys-color-inverse-on-surface);
}

#box26 {
	width: 100%;
	height: 100px;
	background-color: var(--md-sys-color-inverse-on-surface);
	color: var(--md-sys-color-inverse-surface);
}

#box27 {
	width: 100%;
	height: 100px;
	background-color: var(--md-sys-color-inverse-primary);
	border-bottom-right-radius: 20px;
}
